[regularSeasonDailyPull]
outputdir = /mnt/d/github/Basketball_Scraping/Scripts/NBA_API/test
starter_bench = 
draft_year = 
draft_pick = 
outcome = 
shot_clock_range = 
season_type = Regular+Season
season_list = 2023-24
period = 
month = 0
requirementsfile = /mnt/d/github/Basketball_Scraping/Scripts/NBA_API/requirements.txt
per_mode_list = Totals,PerGame,Per36,Per100Possessions,Per100Plays
lastngames_list = 3,5,7,10,15

