[scraper]
maindir = H:/NBA_API_DATA/RAW
season = 2024-25
lastngames = 0,1,5,10,15,20,25,30
season_type = Regular+Season
month = 0
starter_bench = 
draft_year = 
draft_pick = 
outcome = 
shot_clock_range = 
period = 
segment = 

[setupBoxscore]
datadir = H:/NBA_API_DATA/RAW/2024-25/2025-05-04/Totals
boxscoredir = H:/NBA_API_DATA/BOXSCORES/2025-05-04

[graphData]
datadir = H:/NBA_API_DATA/BOXSCORES/2025-05-04
graphdir = H:/NBA_API_DATA/GRAPHS/2025-05-04

[fantasyCornerStats]

[helperScript]
datadir = H:/NBA_API_DATA/RAW/2024-25/2025-05-04

