[main]
outputdir = /mnt/d/github/Basketball_Scraping/Scripts/NBA_API/2022-08-20/
programname = NBA_API
starter_bench = 0
draft_year = 0
draft_pick = 0
outcome = 0
shot_clock_range = 0
season_type = Regular+Season
season_list = 2019-2021
period = 0
requirementsfile = /mnt/d/github/Basketball_Scraping/Scripts/NBA_API/requirements.txt

