[main]
outputdir = /mnt/d/github/Basketball_Scraping/Scripts/NBA_API/2024-10-31/
programname = NBA_API
starter_bench = 
draft_year = 
draft_pick = 
outcome = 
shot_clock_range = 
season_type = Regular+Season
season_list = 2012-2022
period = 
requirementsfile = /mnt/d/github/Basketball_Scraping/Scripts/NBA_API/requirements.txt

